@font-face {
  font-family: 'Samsung Sharp Sans';
  src: url('https://cdn.jsdelivr.net/gh/zzzoryn/pp-images@master/fonts/samsung/SamsungSharpSans-Bold.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/zzzoryn/pp-images@master/fonts/samsung/SamsungSharpSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
