@font-face {
  font-family: 'Knockout';
  src: local('Knockout'), local('Knockout'),
  url('https://cdn.jsdelivr.net/gh/zzzoryn/pp-images@master/fonts/knockout/Knockout-HTF26-JuniorFlyweight.woff2') format('woff2'),
  url('https://cdn.jsdelivr.net/gh/zzzoryn/pp-images@master/fonts/knockout/Knockout-HTF26-JuniorFlyweight.woff') format('woff'),
  url('https://cdn.jsdelivr.net/gh/zzzoryn/pp-images@master/fonts/knockout/Knockout-HTF26-JuniorFlyweight.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
